{% extends 'dashboard/index.html' %}
{% load static %}
{% block contentright %}
<div class="col-12 mt-3">    
    <div class="card"> 
      <div class="card-header">
        <h5>Cambiar Contraseña</h5>
      </div>
      <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="inputOldPassword">Contraseña Anterior</label>
              <input type="password" class="form-control" id="inputOldPassword" name="old_password">
            </div>
            <div class="form-group">
              <label for="inputNewPassword">Nueva Contraseña</label>
              <input type="password" class="form-control" id="inputNewPassword" name="new_password1" aria-describedby="passHelp">
              <small id="passHelp" class="form-text text-muted">La contraseña no debe tener información personal.</small> 
              <small id="passHelp" class="form-text text-muted">La contraseña debe tener almenos 8 caracteres.</small>
              <small id="passHelp" class="form-text text-muted">La contraseña no debe ser una comunmente usada.</small> 
              <small id="passHelp" class="form-text text-muted">La contraseña no debe tener solo numeros.</small>  
            </div>
            <div class="form-group">
                <label for="inputConfirmPassword">Confirmar Contraseña</label>
                <input type="password" class="form-control" id="inputConfirmPassword" name="new_password2"> 
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
      </div>
    </div>
</div>

{% endblock contentright %}