{% extends 'dashboard/index.html' %} {% load static %}
{% block menusidebar %}
                  <li class="nav-item">         
                    <a href="{% url 'dshbindex' %}" class="nav-link text-white" aria-current="page">
                      <i class="bi bi-speedometer me-3"></i>
                      <span class="align-middle">Dashboard</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'listrifas' %}" class="nav-link text-white">
                      <i class="bi bi-8-circle-fill me-3"></i>
                      <span class="align-middle">Rifas</span>
                    </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a href="#" class="nav-link text-white dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-cash-coin me-3"></i>
                      <span class="align-middle">Boletos</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'showboletospagados' %}">Pagados</a>
                        <a class="dropdown-item" href="{% url 'showboletosxpagar' %}">Por Pagar</a>
                    </div>
                  </li>
                  {% endblock menusidebar %}
{% block contentright%}
<div class="col-12 mt-3" style="padding-right: 0; padding-left: 0">
    
    <div class="card"> 
      <div class="card-header">
        <h5>Boletos por Pagar</h5>
      </div>
      <div class="card-body">
        <select id="selectRifa" class="custom-select">
            <option selected>Seleccionar Rifa</option>
            {% if rifas %}
                {% if id_rifa %}
                    {% for rifa in rifas %}
                        <option value="{{rifa.id}}" {% if rifa.id == id_rifa %}selected{% endif %}>{{rifa.producto.nombre}}</option>
                    {% endfor %}
                {%else%}
                    {% for rifa in rifas %}
                        <option value="{{rifa.id}}">{{rifa.producto.nombre}}</option>
                    {% endfor %}
                {% endif %}
                
            {% endif %}
          </select>
        {% block boletos %}
        <div class="alert alert-primary mt-3" role="alert">
            Seleccione una rifa para mostrar sus boletos por pagar.
          </div>
        {% endblock boletos %}
        
      </div>
    </div>
{%endblock contentright%}
{% block script %}
<script>
    function setConfirmPago(id){
        $.ajax({
            url: '/dashboard/setconfirmpago/'+id,
            type: "get",
            data: null,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function(data, textStatus, jqXHR){
                if(data.msg == 'OK'){
                    location.reload();
                }    
               
            },
            error: function(jqXHR, textStatus, errorThrown){
                   
                
            }
        });
    }
    function showAplazarPagoForm(boleto){
      $('#id_boleto').val(boleto);
      $('#modalAplazarPago').modal('show');
    }
    function aplazarPago(){
      const form = $("#aplazarPagoForm");
      var data = new FormData(form[0]);
      var url = $("#aplazarPagoForm").attr('action');
      $.ajax({
        url: url,
        type: "POST",
        data: data,
        processData: false,
        contentType: false,
        dataType: "json",
        success: function(data, textStatus, jqXHR){
          if(data.msg == 'OK'){
            location.reload();
          } 
           
        },
        error: function(jqXHR, textStatus, errorThrown){
           
            
        }
    });
    }

    $(document).ready(function(){
        $('#selectRifa').on('change',function(){
            $(location).attr("href","/dashboard/showboletosxpagar/boletos/"+$('#selectRifa').val());
        });
       
    });
</script>
{% endblock script %}

