{% extends 'index.html' %}
{% load static %}
{% load calculate_odds %}
{% block menu %}
<nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(90deg, rgba(44,73,90,1) 0%, rgba(60,201,190,1) 33%, rgba(144,89,180,1) 100%);">
    <a class="navbar-brand d-lg-none" href="#">Menú</a>
    <button class="navbar-toggler" style="color:white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link scroll" href="{% url 'index' %}#inicio">INICIO <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" href="{% url 'index' %}#preguntasFrecuentes">PREGUNTAS FRECUENTES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link scroll" href="{% url 'index' %}#acercaNosotros">ACERCA DE NOSOTROS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" href="{% url 'index' %}#contacto">CONTÁCTANOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link scroll" href="{% url 'checarboleto' rifa.id%}">CHECA TU BOLETO</a>
          </li>
      </ul>
    </div>
  </nav>
</div>
{% endblock menu %}
{% block content %}
<section>
    <div class="container-fluid bg-rifagamer" style="padding-left:0;padding-right:0;">
        <hr>
        <div class="position-relative">
            <div class="col-10 col-lg-6 borde">
                <h5>n</h5>
                <h6>F</h6>
            </div>
            <div class="col-10 col-lg-6 bg-section position-absolute">
                <h5 id="nombreRifa">{{rifa.producto}}</h5>
                <h6>{{rifa.fecha_fin}}</h6>
            </div>
        </div>
        <hr>
        <div class="col-10 col-lg-6 mx-auto bordered-container" style="padding-left:0;padding-right:0;">
            <div class="p-2">
                <img class="img-fluid" src="/media/{{rifa.producto.imagen}}" width="100%">
            </div>
        </div>
        <hr>
        <div class="col-11 mx-auto text-center">
            <p class="text-center mb-0" style="color:white"><span style="font-family: ChargeVectorBlack; color:#dd5834">1</span> BOLETO POR ${{rifa.precio_boleto}} ({{rifa.num_posibilidades|calculate:1}} oportunidades)</p>
            <p class="text-center mb-0" style="color:white"><span style="font-family: ChargeVectorBlack; color:#13b69b">2</span> BOLETOS POR ${%percent rifa.precio_boleto 99.25 2 %} ({{rifa.num_posibilidades|calculate:2}} oportunidades)</p>
            <p class="text-center mb-0" style="color:white"><span style="font-family: ChargeVectorBlack; color:#9558b6">3</span> BOLETOS POR ${% percent rifa.precio_boleto 98.66 3 %} ({{rifa.num_posibilidades|calculate:3}} oportunidades)</p>
            <p class="text-center mb-0" style="color:white"><span style="font-family: ChargeVectorBlack; color:#efc405">5</span> BOLETOS POR ${% percent rifa.precio_boleto 91.35 5%} ({{rifa.num_posibilidades|calculate:5}} oportunidades)</p>
            <p class="text-center mb-0" style="color:white"><span style="font-family: ChargeVectorBlack; color:#dd5834">10</span> BOLETOS POR ${% percent rifa.precio_boleto 90.90 10%} ({{rifa.num_posibilidades|calculate:10}} oportunidades)</p>
            <p class="text-center mb-0" style="color:white"><span style="font-family: ChargeVectorBlack; color:#13b69b">20</span> BOLETOS POR ${% percent rifa.precio_boleto 90.42 20%} ({{rifa.num_posibilidades|calculate:20}} oportunidades)</p>
            <p class="text-center mb-0" style="color:white"><span style="font-family: ChargeVectorBlack; color:#9558b6">30</span> BOLETOS POR ${% percent rifa.precio_boleto 89.59 30%} ({{rifa.num_posibilidades|calculate:30}} oportunidades)</p>
            <p class="text-center mb-0" style="color:white"><span style="font-family: ChargeVectorBlack; color:#efc405">50</span> BOLETOS POR ${% percent rifa.precio_boleto 88.93 50%} ({{rifa.num_posibilidades|calculate:50}} oportunidades)</p>
        </div>
        <div class="container-fluid mt-3 pt-3" style="padding-left:0;padding-right:0; background-color: #9457b6">
            <p class="text-center mb-0" style="color:white">Con tu boleto liquidado participas por:</p>
            <p class="text-center mb-0" style="color:white"><span style="color:#13b69b; font-family: ChargeVectorBlack;">{{rifa.producto}}</span> - {{rifa.fecha_fin}}</p>
            <div class="col-10 col-lg-4 mt-3 mx-auto">
                {% if bonos %}
                <h5 class="text-center" style="color:#13b69b; font-family: ChargeVectorBlack;">BONO</h5>
                {% for bono in bonos %}
                <p class="text-center" style="color:white; text-transform: uppercase;">{{bono.condiciones}} <span style="color:#13b69b; font-family: ChargeVectorBold;">{{bono.premio}}</span></p>
                {% endfor %}
                {% endif %}
            </div>
            <hr>
        </div>
        <hr>
        <div class="col-10 col-lg-6 ml-auto" style="padding-right:0;">
            <div class="position-relative">
                <div class="col-12 borde-derecho">
                    <h6 class="p-2"> HAZ CLICK EN TU NÚMERO DE LA SUERTE </h6>
                </div>
                <div class="col-12 bg-section-derecho position-absolute">
                    <div class="row">
                        <div class="col-2 text-center" style="padding-left:0;padding-right:0;">
                            <i class="bi bi-caret-down-fill my-auto" style="font-size:2rem"></i>
                        </div>
                        <div class="col-8 mt-3">
                            <h6> HAZ CLICK EN TU NÚMERO DE LA SUERTE </h6>
                        </div>
                        <div class="col-2 text-center" style="padding-left:0;padding-right:0;">
                            <i class="bi bi-caret-down-fill" style="font-size:2rem"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div id="buscarCollapse" class="collapse show">
            <div class="col-11 col-lg-4 mx-auto">
                <div class="container-fluid">
                    <input  id="inputBuscar" class="form-control" type=text name="buscar" onInput="Buscar()" placeholder="Buscar" style="border-color:#13b69b"/>
                </div>
                <div class="container-fluid text-center mt-3">
                    <button class="btn btn-warning" onClick="showModalBtn()">MAQUINITA DE LA SUERTE</button>
                </div>
            </div>
        </div>
        <div id="seleccionarCollapse" class="collapse mt-3">           
            <div class="col-11 text-center mx-auto">
                <button id="btnSelBoletos" class="btn btn-info">Aceptar</div>
                <div class="col-11 mt-2 bordered-container mx-auto">
                    <div style="overflow:hidden">
                    <div id="btnContainer" class="p-2">
                    </div>
                </div>
                </div>
                <div class="container-fluid mt-3 text-center">
                    <h6 style="font-family: ChargeVectorBlack; color:#efc405">Para remover haz click en el boleto</h6>
                </div>
                <div class="col-11 mx-auto">
                    <div class="container-fluid mt-3">
                        <h5 style="font-family: ChargeVectorBold; color:#13b69b"><span id="numPosibilidades" class="badge badge-primary badge-pill">14</span> Posibilidades</h5>
                        <ul id="posibilidades" class="list-group">                            
                        </ul>                        
                    </div>
                </div>
            </div>

        </div>

        <hr>
        <div class="col-11 bordered-container mx-auto" style="padding-left:0;padding-right:0;">
            <div id="btnsContainer" class="p-2 text-center">
                <div id="spinner" class="spinner-border text-info mx-auto" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal Form -->
<div class="modal fade" id="selectForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-rifagamer">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalLabel" style="font-family: ChargeVectorBlack; color:white">LLENA TUS DATOS Y DA CLICK EN APARTAR</h6>
          <button style="color:white" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p class="text-center" id="numBoletos" style="font-family: ChargeVectorBlack; color:#dd5834"></p>
            <form id="formSelec">
                {% csrf_token %}
                <div class="form-group">
                  <label for="numeroWhatsapp" style="color: white">Número de WhatsApp(10 dígitos)</label>
                  <input type="tel"  class="form-control" name="telefono" id="numeroWhatsapp" required>                  
                </div>
                <div class="form-group">
                  <label for="nombre" style="color: white">Nombre(s)</label>
                  <input type="text" class="form-control" name="nombre" id="nombre" required>
                </div>
                <div class="form-group">
                    <label for="apellidos" style="color: white">Apellidos</label>
                    <input type="text" class="form-control" name="apellidos" id="apellidos" required>
                </div>
                <div class="form-group">
                    <label for="estados" style="color: white">Seleccione un estado</label>
                    <select class="form-control" id="estados" name="mx_stado" required>
                        {%if estados%}
                        {% for estado in estados %}
                        <option value="{{estado.id}}">{{estado.nombre}}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                  </div>
                
                <button type="submit" class="btn btn-primary">Aceptar</button>
              </form>
        </div>
        
      </div>
    </div>
  </div>
  <!-- Modal Form -->
  <!-- Modal  Success-->
    <div class="modal fade" id="modalSuccess" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content alert alert-success" style="background-color: #d4edda;border-color: #c3e6cb;">
                <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel">Éxito</h5>
                </div>
                <div class="modal-body">
                    <h5>Los siguientes datos seran enviados por WhatsApp</h5>
                    <p id="whatsappMsg"></p>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-primary">Abrir WhatsApp</a>
                  </div>
                    
            </div>
        </div>
    </div>
  <!-- Modal Success -->
  <!-- Modal Random -->
<div class="modal fade " id="maquinita" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content bg-rifagamer">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalLabel" style="font-family: ChargeVectorBlack; color:white">LA MAQUINITA DE LA SUERTE</h6>
          <button style="color:white" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {% comment %} <button style="color:white" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> {% endcomment %}
        </div>
        <div class="modal-body">
            <p class="text-center" style="font-family: ChargeVectorBlack; color:#9558b6">Escriba cuantos boletos desea.</p>
            <div class="col-6 mx-auto justify-content-center">
                <div class="row">
                    <input class="form-control" name="cantidad" id="input-cant">
                    <div class="invalid-feedback">
                        Por favor introduzca un número válido.
                    </div>
                    <button id="btnRandom" type="button" class="btn btn-info mt-2 text-center mx-auto">Go!</button>
                </div>               
            </div>
            <div id="spinner" class="spinner-border text-info mx-auto d-none" role="status">
                <span class="sr-only">Loading...</span>
            </div>            
            <div class="col-10 bordered-container mt-3 mx-auto">
                <div id="boletosRandom" class="col-12 p-2">
                </div>
            </div>
            <div class="col-11 mx-auto">
                <div class="container-fluid mt-3">
                    <h5 style="font-family: ChargeVectorBold; color:#13b69b"><span id="numPosibilidadesModal" class="badge badge-primary badge-pill">0</span> Posibilidades</h5>
                    <ul id="posibilidadesModal" class="list-group">                            
                    </ul>                        
                </div>
            </div>            
        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onClick="showModalForm()">Aceptar</button>
          </div>       
      </div>
    </div>
</div>
  <!-- Modal Random -->


  
{% endblock content %}
{% block script %}
<script>
    var listaBoletos ="";
    var num_posibilidades = 0;
    // Desmarcar Boletos // 
    function unmask(id){
        var v = '"#'+id+'"';
        var v2 = id+"-d";
        var button = document.getElementById(id);
        button.classList.remove('btn-disable');
        button.classList.add('btn-aviable');
        button.removeAttribute('disabled');
        document.getElementById(v2).remove();
        delPosibilidades(button.innerText);
        var quedan = $('.btn-select');
        if(quedan.length ==0){
            $('#seleccionarCollapse').collapse('hide');
        }
    
    }
    // Buscar Boletos //
    function Buscar(){
        getNumeros('{% url 'findnumero' rifa.id %}?buscar='+$('#inputBuscar').val());
    }
    // Obtener numeros //
    function getNumeros(url){
        fetch(url)
        .then(response => response.json())
        .then((json) => {     
            $('#btnsContainer').empty();
            listaBoletos = json;      
            $.each(json, function(i,item){
                if(item.seleccionado){
                    var button = '<button id="'+item.id+'" class="btn btn-disable mb-1 mr-1 click-event" disabled>'+item.numero+'</button>';
                    $('#btnsContainer').append(button);
                }else{
                    var button = '<button id="'+item.id+'" class="btn btn-aviable mb-1 mr-1 click-event">'+item.numero+'</button>';
                    $('#btnsContainer').append(button);
                }
                
            });
            $('#spinner').addClass('d-none');
            var buttons = $('.click-event');
            buttons.click(function(e){
            e.preventDefault();
            $('#seleccionarCollapse').collapse('show');
            var button = '<button id="'+$(this).attr('id')+'-d" class="btn btn-aviable mb-1 mr-1 btn-select" onClick="unmask('+$(this).attr('id')+')">'+$(this).text()+'</button>';
            $('#btnContainer').append(button);
            {% comment %} var toAdd = $(this).clone();
            toAdd.removeClass('click-event');
            toAdd.on('click', unmark(toAdd.attr('id')));
            $('#btnContainer').append(toAdd); {% endcomment %}
            $(this).removeClass('btn-aviable');
            $(this).addClass('btn-disable');
            $(this).attr('disabled','');
            showPosibilidades($(this).text());

        });
        })
        .catch(err => console.log('solicitud fallida', err));
    }
    // Seleccionar Boletos //
    function selecNumeros(participante_id, numero){
        data =JSON.stringify({'participante_id':participante_id, 'numero':numero});
        $.ajax({
            url: '{% url 'selecnumero' %}',
            type: "POST",
            data: data,
            processData: false,
            contentType: 'application/json',
            dataType: "json",
            success: function(data, textStatus, jqXHR){
            },
            error: function(jqXHR, textStatus, errorThrown){

            }
        });

    }

    //Vincular Boletos a Posibilidades //
    function vincularPosibilidades(participante_id, numero, num_principal){
        data = JSON.stringify({
            'participante_id':participante_id,
            'numero': numero,
            'num_principal': num_principal,
            'id_rifa': {{rifa.id}}
        });
        fetch('{% url 'vincularposibilidades' %}',{
            method: "POST",
            body: data
        })
        .then(response => response.json())
        .then((json) => { console.log(json) })
        .catch(err => console.log('solicitud fallida', err));
    }


    // Mostrar modal form //
    function showModalForm(){
        $('#maquinita').modal('hide');
        $('#selectForm').modal('show');
            var cant = $('.btn-select').length;
            if(cant == 1){
                $('#numBoletos').text(cant+' BOLETO SELECCIONADO');
            }else{
                $('#numBoletos').text(cant+' BOLETOS SELECCIONADOS');
            }
    }
    // Mostrar listado de Posiblidades //
    function showPosibilidades(boleto){
        $.ajax({
            url: '/rifas/getposibilidades/{{rifa.id}}',
            type: "get",
            data: null,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function(data, textStatus, jqXHR){   
                var boletos = "";
                num_posibilidades = num_posibilidades +1; 
                $.each(data, function(i,item){
                    var btn = document.getElementById(item.id);
                    if(btn != null){
                        btn.classList.remove('btn-aviable');
                        btn.classList.add('btn-disable');
                        btn.setAttribute('disabled','');
                    }                    
                    if(i+1 != data.length){
                        boletos = boletos + item.numero+', ';
                    }else{
                        boletos = boletos + item.numero;
                    }
                    num_posibilidades = num_posibilidades+1;
                });
                var li = '<li id="'+boleto+'-p" class="list-group-item list-group-item-danger">('+boleto+')-> '+boletos+'</li>';
                if($('#maquinita').hasClass('show')){                    
                    $('#posibilidadesModal').append(li);
                    $('#numPosibilidadesModal').text(num_posibilidades);
                }else{
                    $('#posibilidades').append(li);
                    $('#numPosibilidades').text(num_posibilidades);
                }
                
            
            },
            error: function(jqXHR, textStatus, errorThrown){
            
                
            }
        });

    }
    // Eliminar posibilidades //
    function delPosibilidades(b){
        var id =  b+'-p';
        console.log(b);
        var li = document.getElementById(b+"-p");
        var texto = li.innerText;
        var spl = texto.split("->")[1];
        var arr = spl.split(",");
        $.each(arr, function(i, item){
            fetch('/rifas/getboletoid/{{rifa.id}}/'+item.split(" ")[1])
            .then(response => response.json())
            .then((json) => {
                $("#"+json.id).removeClass('btn-disable');
                $("#"+json.id).addClass('btn-aviable');
                $("#"+json.id).prop("disabled", false);
            })
            .catch(err => console.log('solicitud fallida', err));
        });
        
        li.remove();        
    }
    // Mostrar modal seleccionar boletos //
    function showModalBtn(){
        num_posibilidades = 0;
        $('#posibilidadesModal').empty();
        $('#boletosRandom').empty();
        //$('#btnContainer').empty();
        $('#maquinita').modal('show');
        $('#input-cant').val('');

    }

    $(document).ready(function(){        
        getNumeros('{% url 'getnumeros' rifa.id %}');        
        $('#btnSelBoletos').click(function(){
            $('#selectForm').modal('show');
            var cant = $('.btn-select').length;
            if(cant == 1){
                $('#numBoletos').text(cant+' BOLETO SELECCIONADO');
            }else{
                $('#numBoletos').text(cant+' BOLETOS SELECCIONADOS');
            }
            
        });
        $('#formSelec').on('submit', function(e){
            e.preventDefault();
            const form = $("#formSelec");
            var data = new FormData(form[0]);
            var urlAdd = $("#formSelec").attr('action');
            var cadena = 'Rifa:%20'+$('#nombreRifa').text()+'%20Participante:%20'+$('#nombre').val()+'%20'+$('#apellidos').val()+',%20Telf:%20'+$('#numeroWhatsapp').val()+',%20Estado:%20'+$('select[name="mx_stado"] option:selected').text()+'.%20Boletos%20Seleccionados:%20';
           $.ajax({
            url: '{% url 'addparticipante' %}',
            type: "POST",
            data: data,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function(data, textStatus, jqXHR){
                var boletos = $('.btn-select');
                $.each(boletos, function(i, item){
                    var num = $(item).prop('id').split('-')[0];
                    selecNumeros(data.participante_id,num);
                    if($('#posibilidades > li').length != 0){                        
                        var texto = $('#'+$(this).text()+'-p').text().split('->')[1];
                        texto.split(',').forEach(num1=>{
                            console.log("Writing -> "+data.participante_id+" -"+num1+" - "+num);
                            vincularPosibilidades(data.participante_id, num1.split(' ')[1], num);
                        });
                    }else if($('#posibilidadesModal > li').length != 0){
                        var texto = $('#'+$(this).text()+'-p').text().split('->')[1];
                        texto.split(',').forEach(num1=>{
                            console.log("Writing -> "+data.participante_id+" -"+num1+" - "+num);
                            vincularPosibilidades(data.participante_id, num1.split(' ')[1], num);
                        });
                    }
                    
                });
                if($('#posibilidades > li').length != 0){
                    $('#posibilidades > li').each(function(i, item){
                        cadena = cadena +'%20'+ $(this).text(); 
                    });
                }else if($('#posibilidadesModal > li').length != 0){
                    $('#posibilidadesModal > li').each(function(i, item){
                        cadena = cadena +'%20'+ $(this).text();
                    });
                }
                $('#formSelec').trigger('reset');
                $('#selectForm').modal('hide');
                $('#modalSuccess').modal('show');

                //window.open('https://api.whatsapp.com/send/?phone=5351944880&text='+cadena.replaceAll(' ','%20'), '_blank'); 
                setTimeout(function () {
                    $('#modalSuccess').modal('hide');
                }, 3000);
                //location = 'https://api.whatsapp.com/send/?phone=528126475803&text='+cadena.replaceAll(' ','%20');
                //setTimeout(function () {
                    //location.reload();
                //}, 4000);
                
                
                                            
               
            },
            error: function(jqXHR, textStatus, errorThrown){
                    {% comment %} document.getElementById('contModalDanger').innerHTML = jqXHR.responseJSON.message;
                    $('#ModalDanger').modal('show');  {% endcomment %}
               
                
            }
            })
        });

        $('#btnRandom').click(function(){
            console.log($('#input-cant').val());
            if($('#input-cant').val() !=""){
                $('#boletosRandom').empty();
                $('#btnContainer').empty();
                $.ajax({
                    url: '/rifas/randomnumeros/{{rifa.id}}/'+$('#input-cant').val(),
                    type: "get",
                    data: null,
                    processData: false,
                    contentType: false,
                    dataType: "json",
                    success: function(data, textStatus, jqXHR){    
                        $.each(data, function(i,item){
                            var button = '<button id="'+item.id+'-d" class="btn btn-aviable mb-1 mr-1 btn-select">'+item.numero+'</button>';
                            var button1 = '<button id="'+item.id+'-d" class="btn btn-aviable mb-1 mr-1">'+item.numero+'</button>';
                            $('#btnContainer').append(button);
                            $('#boletosRandom').append(button1);
                            showPosibilidades(item.numero);

                        });       
                    
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                            {% comment %} document.getElementById('contModalDanger').innerHTML = jqXHR.responseJSON.message;
                            $('#ModalDanger').modal('show');  {% endcomment %}
                    
                        
                    }
                });
            }
            

        });
        {% comment %} $('#selectForm').on('hidden.bs.modal', function (event) {
            location.reload();         

          });
        $('#maquinita').on('hidden.bs.modal', function(event){
            location.reload();
        }); {% endcomment %}

    });
    
</script>
{% endblock script %}
