{% extends 'index.html' %}
{% load static %}
{% block menu %}
<nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(90deg, rgba(44,73,90,1) 0%, rgba(60,201,190,1) 33%, rgba(144,89,180,1) 100%);">
    <a class="navbar-brand d-lg-none" href="#">Menú</a>
    <button class="navbar-toggler" style="color:white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link scroll" href="{% url 'index' %}#inicio">INICIO <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" href="{% url 'index' %}#preguntasFrecuentes">PREGUNTAS FRECUENTES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link scroll" href="{% url 'index' %}#acercaNosotros">ACERCA DE NOSOTROS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" href="{% url 'index' %}#contacto">CONTÁCTANOS</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
{% endblock menu %}
{% block content %}
<div class="container-fluid bg-rifagamer">
    <div class="col-lg-3 col-9 mx-auto">
        <img class="img-fluid" src="{% static 'img/logo-404.png' %}" width="100%">
    </div>
    <div class="col-lg-3 mx-auto">
        <p style="color: white; font-family:ChargeVector; font-size:1.5rem"><span style="color: #9558b6; font-family:ChargeVectorBlack; font-size: 3rem; font-weight:bold">ESTE</span> SORTEO YA CERRÓ!!</p>
        <p style="color: #dd5834; font-family:ChargeVectorBlack; font-size:1.8rem">MANTENTE <span class="rifa-decor">ATENTO</span> AL <span style="color:#13b69b">SIGUIENTE.</span></p>
        <p style="color:white">LO ESTAMOS ANUNCIANDO EN REDES SOCIALES</p>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="col-5 mx-auto text-center">
                <a href="#" style="color:white; font-size:1.5rem"><i class="bi bi-facebook"></i> </a>
            </div>
        </div>
        <div class="col-6">
            <div class="col-5 mx-auto text-center">
                <a href="#" style="color:white; font-size:1.5rem"><i class="bi bi-whatsapp"></i></a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block script %}
{% endblock script %}